{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Nowy Film {% endblock%}
{% block strona %}
<div class="card" style="width: 32rem">
<h5 class="card-title">Film form</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        {% if nowy %}
        <button class="btn btn-success"  type="submit"><i class="fa-regular fa-pen-to-square"></i> Dodaj tablet</button>
        {% else %}
         <button class="btn btn-success"  type="submit"><i class="fa-regular fa-pen-to-square"></i> edytuj tablet</button>
        {% endif %}
    </form>
    <br>

<a class="btn btn-danger" href="{% url 'wszystkie_tablety' %}"><i class="fa-solid fa-chevron-left"></i> Cofnij</a><br>
</div>
{% endblock %}}